
    </div>
  </div>

  <div id="footer">

    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <span class="pull-right"><a href="#top">Return to top</a></span>
          Built by <a href="http://michel.rouly.net">Michel Rouly</a> for
          <a href="//gmu.edu">George Mason University</a> with
          <a href="http://www.gnu.org/licenses/gpl-3.0.txt">some rights
          reserved</a>.
        </div>
      </div>
    </div>

  </div>

  <!-- Javascript
  ================================================== -->
  <script src="/static/js/latexit.js"></script>
  <script src="/static/js/activation.js"></script>

</body>
</html>
