<!DOCTYPE html>
<html>
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta name="description" content="Scholarly research documentation.">
  <meta name="keywords" content="scholarly article, reading, anatomy">
  <meta name="author" content="HNRS RTOC">

  <title>Reading a Scholarly Article</title>

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-accessibility.css">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/fonts.css">
  <link rel="stylesheet" href="static/css/article.css">
  <link rel="stylesheet" href="static/css/annotations.css">
  <link rel="stylesheet" href="static/css/body.css">

  <!-- Javascript
  ================================================== -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap-accessibility.min.js"></script>
  <script src="static/js/annotations.js"></script>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="static/imgs/favicon.ico">

</head>
<body>
  <span id="top"></span>

<!-- Added
==========-->
<div class="row">
	
	
  <!-- Navigation bar
  ================================================== -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

<!--	Removed home button -->
<!--    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" tabindex="1" href="index.html">
        <i class="fa fa-home fa-fw" title="Return Home"></i></a>
    </div>-->
    
    <!-- removed navbar-collapse collapse from following line -->
    <div class="navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown" id="fields">
          <a href="#" class="dropdown-toggle" tabindex="1"
          data-toggle="dropdown">Scholarly Articles <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">

            <li class="divider"></li>
            <li class="dropdown-header">Humanities</li>
            <li><a href="history.html" tabindex="2">
              History</a></li>
            <li><a href="literature.html" tabindex="3">
              Literature</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">STEM-H</li>
            <li><a href="computerscience.html" tabindex=4>
            	Computer Science and IT</a></li>
            <li><a href="bioengineering.html" tabindex=5>
            	Engineering</a></li>
			<!--<li><a href="lifescience.html" tabindex="6">
              Life Sciences</a></li></li>-->
           
           
           <!-- <li class="dropdown-header">STEM-H</li>
            <li><a href="cs.html" tabindex="5">
              Computer Science</a></li>
            <li><a href="eng.html" tabindex="6">
              Engineering</a>
            <li><a href="sci.html" tabindex="7">
              Hard Sciences</a></li>
            <li><a href="med.html" tabindex="8">
              Health Science</a></li>
            <li><a href="lsci.html" tabindex="9">
              Life Sciences</a></li></li>

            <li class="divider"></li>
            <li class="dropdown-header">Social Science</li>
            <li><a href="psy.html" tabindex="10">
              Psychology</a></li>
            <li><a href="anth.html" tabindex="11">
              Anthropology</a></li>
            <li><a href="crim.html" tabindex="12">
              Criminology and Legal Studies</a></li>
            <li><a href="edu.html" tabindex="13">
              Education</a></li>
            <li><a href="gov.html" tabindex="14">
              Policy and Government</a></li>
            <li><a href="soci.html" tabindex="15">
              Sociology</a></li>
              
              -->
              
           	<li class="divider"></li>
           	
           	<li><a tabindex="6" href="index.html">Help</a>
          </ul>
        </li>
       
      </ul>
    </div>
    
 </nav>
</div> <!-- closes added row -->

  <!-- Primary page contents wrapper
  ================================================== -->
  <div id="wrap">

    <div class="container">


      <!-- Header Row
      ================================================ -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="page-header">
            <h1>
            {{ TITLE }}
            </h1>
          </div>
        </div>
      </div>

      <!-- Page contents
      ============================================== -->

