.example-trigger {
  display: block;
  margin: 20px;
  text-align: center;
}


/* Common styles to all annotation display types. */
[rel~="annotation"] {
  cursor: pointer;
  text-decoration: none;

  background-color: rgba( 255, 255, 0, 0.2 );

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Active/Hover styles common to any annotation. */
[rel~="annotation"].active,
[rel~="annotation"]:hover {
  background-color: rgba( 255, 255, 0, 0.6 );
}



/* Styles for block display annotations. */
[rel~="annotation"]:not(.inline) {
  box-sizing: border-box;
  display: block;

  margin: 5px 0px;
  padding: 10px 0px;

  border-radius: 20px;
  border-left: 5px solid #EBEBEB;
  border-right: 5px solid #EBEBEB;

  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

/* Active/Hover styles for block display annotations. */
[rel~="annotation"].active:not(.inline),
[rel~="annotation"]:hover:not(.inline) {
  border-top: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;

  border-left: 5px solid #C9C9C9;
  border-right: 5px solid #C9C9C9;
}



/* Styles for inline-only annotations. */
[rel~="annotation"].inline { }

/* Active/Hover styles for inline-only annotations. */
[rel~="annotation"].inline.active,
[rel~="annotation"].inline:hover { }



/* Popover styling. */
.popover {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  max-width: 80%;
}

.popover-title {
  text-align: center;
}

.popover-title:before {
  position: absolute;
  left: 15px;
  font-family: "FontAwesome";
  content: "\f059";
}

.popover-example .popover {
  position: relative;
  display: block;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
