.article {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: justify;

  /*
  overflow-y: scroll;
  height: 500px;
  */
}

.article .section-space {
  height: 20px;
}

.article .sans {
  font-family: "Lato", sans-serif;
}

.article .serif {
  font-family: "Merriweather", serif;
}

.article .mono {
  font-family: "Source Code Pro", monospace;
}

.article .uppercase {
  text-transform: uppercase;
}

.article .italic {
  font-style: italic;
}

.article .bold {
  font-weight: bold;
}

.article .caption {
  text-align: center;
  font-size: 0.9em;
}

.article p {
  text-indent: 15px;
}

.article p.noindent {
  text-indent: 0px;
}

.article .figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article .equation {
  height: 35px;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
