[rel~="popover"] {
  display: block;
  cursor: pointer;
  color: #158cba;
  text-decoration: none;
  font-style: italic;
}

[rel~="popover"]:hover {
  color: #158cba;
  text-decoration: none;
}

.popover {
  font-family: "Latin Modern Mono";
  max-width: 80%;
}

.popover-title {
  font-family: "Latin Modern Mono";
  text-align: center;
}

.popover-title:before {
  position: absolute;
  left: 15px;
  font-family: "FontAwesome";
  content: "\f059";
}
