.trigger {
  cursor: pointer;
  color: #158cba;
  text-decoration: none;
}

.trigger:hover {
  color: #158cba;
  text-decoration: none;
}

.popover {
  font-family: "Latin Modern Mono";
}

.popover-title {
  font-family: "Latin Modern Mono";
}
