.example-trigger {
  display: block;
  margin: 20px;
  text-align: center;
}

[rel~="annotation"] {
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  text-decoration: none;

  margin: 5px 0px;
  padding: 10px 0px;

  border-radius: 20px;
  border-left: 5px solid #EBEBEB;
  border-right: 5px solid #EBEBEB;

  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

[rel~="annotation"].active, [rel~="annotation"]:hover {
  border-top: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;

  border-left: 5px solid #C9C9C9;
  border-right: 5px solid #C9C9C9;
}



.popover {
  font-family: "Source Code Pro", monospace;
  max-width: 80%;
}

.popover-title {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

.popover-title:before {
  position: absolute;
  left: 15px;
  font-family: "FontAwesome";
  content: "\f059";
}

.popover-example .popover {
  position: relative;
  display: block;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
