.article {
  font-family: "Latin Modern Serif";
  font-weight: normal;
  font-style: normal;
  text-align: justify;

  /*
  overflow-y: scroll;
  height: 500px;
  */
}

.article .section-space {
  height: 20px;
}

.article .sans {
  font-family: "Latin Modern Sans";
}

.article .serif,
.article .section-title,
.article .subsection-title {
  font-family: "Latin Modern Serif";
}

.article .uppercase, .article .section-title {
  text-transform: uppercase;
}

.article .subsection-title {
  text-align: left;
  font-style: italic;
}

.article .caption {
  text-align: center;
  font-size: 0.9em;
}

.article p {
  text-indent: 15px;
}

.article p.noindent {
  text-indent: 0px;
}

.article .figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article .equation {
  height: 35px;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
